body {font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
   }
   h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
   }
img {display: block;}
ul, ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;}
a {text-decoration: none;}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 120px;
    padding-bottom: 120px;
    }

/* #region header */
.header {border-bottom: 1px solid #e7e9fc;}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;}
.nav {
    align-items: center;
    display: flex;
    gap: 76px;
}
.logo {
    margin-right: 76px;
    padding-top: 24px;
    padding-bottom: 24px;
}
.menu {
    display: flex;
    gap: 40px;

}
.address-list {
    display: flex;
    gap: 40px;
   

}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    }

.logospan {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    }

.menu-link {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;;
}
.menu-link:hover, .menu-link:focus {
    color: #404bbf;}

.menu-link:active {
    color: #404bbf;
    
}
.address {font-style: normal;}
.address-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

}
.address-link:hover, .address-link:focus {
    color: #404bbf;}

/* #endregion header */

/* #region hero */
.hero {padding: 188px 0;}
.hero-container {
    padding-bottom: 292px;
    margin-left: 472px;
    margin-right: 472px;
}
.hero {
    background-color: #2e2f42;
    }
.hero-tittle {
    margin-bottom: 48px;
    max-width: 496px;
    line-height: 1.07;
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;}

.hero-button {
    display: block;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    min-height: 56px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    margin-left: auto;
    margin-right: auto;
    }
.hero-button:hover, .hero-button:focus {
   
    background: #404bbf;
}

/* #endregion hero */
/* #region section-features */
.section-features {padding: 120px 0;   
}
.section-features-list {
    display: flex;
    gap: 24px;
}
.section-features-item {
    width: calc((100% - 72px) / 4);
}
.section-features-item-name {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.section-features-item-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* #endregion section-features */

/* #region section-team */

.section-team {
    background-color: #F4F4FD;
    padding: 120px 0;}
.section-team-tittle {
    width: 162px;
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}
.team-list {
    display: flex;
    gap: 24px;
}
.team-card {
    padding: 0px 0px 32px 0px;
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;
    width: calc((100% - 24 *3 ) / 4);}

.card-content {
    padding: 32px 0;}
    
.name {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;}

.position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;}
/* #endregion section-team */

/* #region section-portfolio */
.section-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}
.section-portfolio-tittle {
    width: 218px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.section-portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;

}
.portfolio-card-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
    width: 360px;
    height: 120px;
}
.section-portfolio-item-mame {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px
  }

.section-portfolio-item-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;}
/* #endregion section-portfolio */
/* #region footer */
.footer {
    padding: 100px 0;
    background: #2e2f42;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;}

.footer-logo-span {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;}
/* #endregion footer */